*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
builds/

.idea/
.gradle/
.sourcemaps/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

cypress/videos
cypress/screenshots
storybook-static

dist
.rpt2_cache
